<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>MKVA</title>
    <meta name="description" content="This is a free Bootstrap landing page theme created for BootstrapZero. Feature video background and one page design." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Codeply">

    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/animate.min.css" />
    <link rel="stylesheet" href="./css/ionicons.min.css" />
    <link rel="stylesheet" href="./css/styles.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Quintessential&display=swap" rel="stylesheet">
  </head>
  <body>
  
<nav id="topNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/"><i class="ion-ios-analytics-outline"></i>MKVA</a>
            </div>
            <div class="navbar-collapse collapse" id="bs-navbar">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="page-scroll" href="/">Intro</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/">From doc</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="./aboutus.html">Contact</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/profile">Login</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" data-toggle="modal" href="#aboutModal">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<h1 class="heading" style="text-align: center;" data-aos="zoom-out-down">DOCTOR'S PROFILE</h1>
    <div>
        <div class="about-image-content">
            <img src="assets/doctor5.jpg" class="pp"width="350" height="350"style="border-radius: 50%">
        </div>
    </div>
              <div class="doctor-details">
               
              <div style="font-size: 2em;"><%= username %> </div><br>
              <!-- <div>AGE : 37</div><br> -->
              <div>DEPARTMENT : <%= special%>    </div><br>
              <!-- <div>PRIMARY LOCATION :    SAMIS Hospital</div><br> -->
              <div>Degree :    <%= degree%></div><br>
              <!-- <div>LANGUAGES :    English,Hindi</div><br> -->
              <div>EMAIL : <%= email%></div>
              <div>Mobile : <%= mobile%></div> 
              <div>Gender : <%= gender%></div>
              
              </div>
              <br>
              <hr class="hr" style="color: BLACK;">
  
      <section id="last">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="margin-top-0 wow fadeIn">Get in Touch</h2>
                    <hr class="primary">
                    <p>We love feedback. Fill out the form below and we'll get back to you as soon as possible.</p>
                </div>
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <form class="contact-form row">
                        <div class="col-md-4">
                            <label></label>
                            <input type="text" class="form-control" placeholder="Name">
                        </div>
                        <div class="col-md-4">
                            <label></label>
                            <input type="text" class="form-control" placeholder="Email">
                        </div>
                        <div class="col-md-4">
                            <label></label>
                            <input type="text" class="form-control" placeholder="Phone">
                        </div>
                        <div class="col-md-12">
                            <label></label>
                            <textarea class="form-control" rows="9" placeholder="Your message here.."></textarea>
                        </div>
                        <div class="col-md-4 col-md-offset-4">
                            <label></label>
                            <button type="button" data-toggle="modal" data-target="#alertModal" class="btn btn-primary btn-block btn-lg">Send <i class="ion-android-arrow-forward"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/jquery.easing.min.js"></script>
    <script src="./js/wow.js"></script>
    <script src="./js/scripts.js"></script>
</body>
</html>